.content{
    width:400px;
    margin: 0 auto;
  }
  
  .header{
    height: 100px;
    background-color: #141f40;
  }
  
  .light_blue{
    height: 250px;
    width: 150px;
    background-color:#80bfa8;
  }
  
  .pink{
    height: 150px;
    width: 100px;
    background-color:#ff9e6b;
  }
  
  .yellow{
    height: 50px;
    width: 150px;
    background-color: #dbd400;
  }
  
  .blue{
    height: 100px;
    width: 150px;
    background-color: #0093b7;
  }
  
  .brown{
    height: 100px;
    width: 250px;
    background-color: #8c2727;
  }
  
  .right {
    float: right; 
  }
  
  .left {
    float: left; 
  }
  
  .footer{
    height: 100px;
    background-color:#d98D30;
  }
  
  .clearfix::after {
    content: "";
    display: block;
    clear: both;
  }