.container{
    width:400px;
    margin: 0 auto;
    justify-content: flex-end;
  }
  
  .box1 {
    display: flex;
    align-items: center;   
    width:  400px;
    height: 100px;
    background-color: #141f40;

}
  .box1-1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  width: 160px;
  height: 60px;
  margin-left: 220px;
  }
  
  .box1-1-1 {
  background-color: #a9004b;
  width: 40px;
  height: 40px;
  }
  
  .box2{
    height: 250px;
    width: 150px;
    background-color:#80bfa8;
    float: left; 
  }
  
  .box3{
    height: 250px;
    width: 250px;
    background-color:#8c2727;
    
    float: left; 
  }

   .box3-1 {
  display: flex;
  align-items: center;
  background-color:#ff863f;
  width: 140px;
  height: 40px;
  margin-left: 40px;
  border: solid white;
  border-width: 5px;
  margin-bottom: 10px;
  
}

.box3-1:first-child {
  margin-top: 40px;
  }


  .border{
   width: 150px;
   padding: 10px;
   margin: 0 auto;
   border-color: white;
   border-width: 5px;
  }
  
  .box4{
    width: 400px;
    height: 100px;
    background-color:#d98D30;
  }
  
  .clearfix::after {
    content: "";
    display: block;
    clear: both;
  }

  .div{
    display: block;
  }